**
!/bin
!/config
!/docker/apache/etc
!/hasura
!/migrations
!/public/index.php
!/src
!/templates
!/tests
!/translations
!.env
!.env.test
!.env.dev
!.env.prod
!composer.json
!composer.lock
!phpunit.xml.dist
!symfony.lock