apiVersion: v2
name: api
description: An api Helm chart for Kubernetes
type: application
version: 1.0.0
appVersion: "1.0.0"
dependencies:
  - name: hasura
    repository: https://hasura-extra.github.io/hasura-extra
    version: ~2.1.4
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: ~10.13.0
    condition: postgresql.enabled